:root {
  --light-blue: #cff9ff;
  --font-blue: #27b4c8;
  --footer-grey: rgb(148 165 181 / 72%);
}

.center-info {
  grid-column: 1;
  grid-row: 1;
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 8px;
}

#info-gif-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#descriptionP {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
  margin-top: 30px;
  color: var(--font-blue);
  width: max-content;
}

#locationP {
  font-weight: normal;
  margin: 0;
  font-size: 1.5rem;
}

#tempP {
  font-size: 5rem;
  margin: 10px;
}

#gif-temp {
  height: 200px;
  margin: 50px;
  border-radius: 10px;
}

#descriptionP,
#locationP,
#tempP {
  margin-left: 50px;
}

.bottom-info {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.bottom-info h2 {
  font-weight: normal;
  font-size: 2rem;
}

#low,
#feels-like,
#high {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.bot-description {
  color: var(--font-blue);
}

#feels-like-text {
  width: 200px;
}

.bot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
