:root {
  --light-blue: #cff9ff;
  --footer-beige: #f5f5dc;
}

#weather-container {
  display: flex;
  justify-content: center;
}

#weather-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#weather-img {
  border-radius: 8px;
}

#weather-img:hover {
  transform: scale(1.05);
  transform-origin: center;
  transition-duration: 0.5s;
}

#weather-container h1 {
  font-weight: normal;
  text-align: center;
}
